<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
<head>
  {% include head.html %}
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0VZH0CTF7P"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0VZH0CTF7P');
</script>

<body>

  {% include header.html %}

  <main class="site-wrapper" id="main-content">
    {{ content }}
  </main>

  {% include footer.html %}

</body>
</html>
